.container h1
{
    font-size: 100px;
}
.container p
{
    font-size: 30px;
    margin: 20px;
}
.container button
{
    transition: background-color 1s;
}
.container button:hover
{
    background-color: green;
}
#demo{
font-size: 50px;
}
#demo2
{
    font-size: 40px;
}